@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-row">
    <div class="column">
        <h2>Welcome to Gummi Bear Kingdom!</h2>
    </div>
    <div class="column">
        <img src="~/img/store.jpeg" />
    </div>
</div>
