@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-row">
    <div class="column column-left">
        <h2>welcome to gummi bear kingdom!</h2>
        <p>
            gummi bear kingdom ice cream carrot cake toffee gingerbread jelly beans. Carrot cake I love sugar plum. Powder I love I love jelly chupa chups pudding biscuit sweet toffee. Marshmallow fruitcake I love cake chocolate bar candy canes sesame snaps dessert. Cupcake topping gummies. I love cookie halvah I love I love chupa chups cookie bonbon. Biscuit donut lollipop tootsie roll jujubes donut danish. Pastry cotton candy liquorice sesame snaps danish sweet roll. Toffee gummies cotton candy chupa chups macaroon I love.</p>
            <h2>valentine's promotion</h2>
        <p>
            gummi bear kingdom Sugar plum gummi bears jelly lemon drops apple pie fruitcake candy. Fruitcake chocolate bar jelly beans muffin. Oat cake apple pie muffin. Marshmallow I love biscuit carrot cake wafer fruitcake. Dessert muffin I love. Cake powder croissant. Topping carrot cake croissant. Macaroon toffee sweet brownie fruitcake.
        </p>
    </div>
    <div class="column">
        <img src="~/img/store.jpeg" />
    </div>
</div>
